// Primary colors
$primary-color: hsl(185, 75%, 39%);
$heading-color: hsl(229, 23%, 23%);
$paragraph-color: hsl(227, 10%, 46%);
// Neutral colors
$line-color: hsl(0, 0%, 59%);

// Typography
$primary-font: 'Kumbh Sans', sans-serif;