@use '../util' as *;

main {
   @include flex-center;
   min-height: 100vh;
   background-color: $primary-color;
   background-image:
      url("../images/bg-pattern-top.svg"),
      url("../images/bg-pattern-bottom.svg");
   background-size: 100vh;
   background-position:
      bottom 50vh right 50vw, top 50vh left 50vw;
   background-repeat: no-repeat;

   @include responsive(min-width, 740px) {
      background-size: auto;
      background-position:
         bottom 37vh right 51vw, top 50vh left 49vw;
   }
}