@use '../util' as *;

.card {
   width: 87vw;
   max-width: 350px;
   background-color: $card-color;
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 20px 60px 10px rgba($heading-color, 0.3);

   &-header {
      position: relative;
      height: 140px;
      background-image: url("../images/bg-pattern-card.svg");

      &-avatar {
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translate(-50%, 50%);
         background-color: $card-color;
         padding: 5px;
      }
      &-avatar, img {
         border-radius: 50%;
      }
   }

   &-body {
      text-align: center;
      padding: 75px 0 25px 0;
      border-bottom: 1px solid $line-color;

      &-name {
         @include name-stats-style;
         display: inline-block;
         margin: 0 5px 10px 0;
      }
      &-age {
         font-weight: 400;
         color: $subtitle-color;
      }
      &-city {
         @extend .card-body-age; // &-age
         font-size: .8em;
      }
   }

   &-footer {
      &-list {
         height: 88px;
         @include flex-center;
         justify-content: space-evenly;
         text-align: center;

         .stats-number {
            @include name-stats-style;
            margin-bottom: 8px;
         }
         .stats-name {
            font-size: .6em;
            font-weight: 400;
            letter-spacing: 1px;
            color: $paragraph-color;
         }
      }
   }
}