@use '../util' as *;

.card {
   width: 87vw;
   max-width: 350px;
   background-color: $card-color;
   border-radius: 15px;
   overflow: hidden;

   &-header {
      position: relative;
      height: 140px;
      background-image: url("../images/bg-pattern-card.svg");

      &-avatar {
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translate(-50%, 50%);
         background-color: $card-color;
         padding: 5px;
      }
      &-avatar, img {
         border-radius: 50%;
      }
   }

   &-body {
      text-align: center;
      padding: 75px 0 25px 0;
      border-bottom: 1px solid $line-color;

      &-name {
         font-size: 1em;
         color: $heading-color;
         margin-bottom: 10px;
      }
      &-city, .age {
         font-weight: 400;
         color: $subtitle-color;
      }
      .age { margin-left: 5px; }
      &-city { font-size: .8em; }
   }
}